.angularLogo{
    position: absolute;
    top: 33%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.loginWrapper{
    width: 100%;
    
    .loginForm{
        min-width: 150px;
        max-width: 500px;
        position: absolute;
        top: 60%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);

        .full-width{
            width: 100%;
            background-color: #fafafa;
        }
        .button{
            box-sizing: border-box;
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            outline: 0;
            border: none;
            -webkit-tap-highlight-color: transparent;
            display: inline-block;
            white-space: nowrap;
            text-decoration: none;
            vertical-align: baseline;
            text-align: center;
            margin: 0;
            margin-right: 0px;
            min-width: 64px;
            line-height: 36px;
            padding: 0 16px;
            border-radius: 4px;
            overflow: visible;
            transform: translate3d(0,0,0);
            transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
        }
    }
    .header{
        margin-bottom: 0;
        width: 98%;
        align-items: center;

        .inputSearch{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: #333;
            display: block;
            width: 80%;
            padding: 0px;
            height: 2.54545em;
            z-index: 1;
            background-color: #fff;
            height: 44px;
            padding-left: 11px;
            font-size: 24px;
            margin: 0 auto;
        }
            

    }

        
}
