.statementWrapper{
    width: 100%;
    .statement{
        margin: 0 auto;
        width: 180px;
    }
}
.formWrapper{
    width: 100%;
    .form{
        margin: 0 auto;
        width: 260px;
    }
}
.resultsWrapper{
    
    padding: 0 7px;
    max-width: 1200px;
    margin-left: 0;
    margin-right: auto;
    .results{
        padding-top: 10px;
        
        padding-left: 58px;
        padding-right: 58px;

        table{
            width: 100%;
        }       
    }
}